#gameboard {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: relative;
    background-image: url("../img/halloween-bg2.jpg");
    background-size: cover;
    margin: 2rem 0;
    padding: 0;
    width: 800px;
    height: 600px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);

    @media only screen and (max-width: $bp-large) {
        width: 80%;
       
    }

    @media only screen and (max-width: $bp-smallest) {
        width: 350px;
    }



    }
    
    .ghostdiv {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
     z-index: 20;
    
     
   
    }

    .tombdiv {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    .blind {
        background-color: lightgray;
        animation: flash .5s forwards;
    }
    
    @keyframes flash {
        0% {
            opacity: 1;
        }
    
        15% {
            opacity: .5;
        }
    
        30% {
            opacity: .8;
        }
    
        45% {
            opacity: .3;
        }
    
        60% {
            opacity: .9;
        }
    
        75% {
            opacity: .2;
        }
    
        90% {
            opacity: .6;
        }
    
        100% {
            opacity: 0;
        }
    }
    

    
    h1 {
        padding: none;
        margin: none;
    }
    
    .title {
        position: absolute;
        top: 40px;
        height: 100px;
        width: 900px;
        text-align: center;
        color: #e8e4c9;
        font-family: 'Creepster';
        font-size: 8rem;
        color:$color-halloween-orange;
        z-index: 20;

        @media only screen and (max-width: $bp-medium){
            font-size: 5rem;
        }
    }
    
    .playing {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .input-panel {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        height:400px;
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: none;
        z-index: 25;

        @media only screen and (max-width: $bp-large) {
            width: 80%;
           
        }
    
        @media only screen and (max-width: $bp-smallest) {
            width: 350px;
        }
    

  
    }
    
    .underscore {
     
position: absolute;
top: 50%;
    align-self: center;
        text-align: center;
        width: 100%;
        height: 100px;
        font-size: 4rem;
    
        font-family: 'Headhunter';
        color: $color-halloween-orange;
        z-index: 30;

        @media only scren and (max-width: $bp-small){
            font-size: 2rem;
        }
    }
    
    .bigger {
        animation: grow 2s forwards;
    }
    
    @keyframes grow {
        0% {
           opacity: 0;
        }
        50% {
           opacity: .5;
        }
        100% {
            opacity: 1;
        }
    }
    
    .wrongLetters {
        position: absolute;
        top: 60%;
       text-align: center;
        font-size: 2.4rem;
        font-family: 'Headhunter';
        color: $color-halloween-white;
        height: 100px;
        width: 800px;
        z-index: 20;
    }
    
    
    
    #word {
        display: flex;
        text-align: center;

        width: 500px;
        height: 200px;
        font-family: 'password';
        font-size: 6rem;
        background: transparent;
        background-image: url('../img/scroll.png');
        background-size: contain;
        background-repeat: no-repeat;
        outline: none;
        border: none;
        color: $color-halloween-orange;
     
     @media only screen and (max-width: $bp-small){
         width: 300px;
         height: 100px;
         transform: translate(5px, -20px);
         font-size: 4rem;
     }
    
     @media only screen and (max-width: $bp-smallest){
         width: 280px;
         height: 100px;
         transform: translate(5px, -20px);
         font-size: 4rem;
     }
    
    }
    
    .buttons {
        display: flex;
        justify-content: space-evenly;
        width: 600px;
        height: 30px;
        margin-top: 2rem;

        @media only screen and (max-width:$bp-smallest){
            width: 320px;
        }
    }
    
    #wordInput {
    
        font-size: 2.4rem;
        border-radius: 6px;
        padding: 0 5px;
        font-family: 'Creepster';
        color: $color-halloween-orange;
        background-color: #e8e4c9;
    }
    #wordInput1 {
        font-size:2.4rem;
        padding: 0px 5px;
        border-radius: 6px;
        font-family: 'Creepster';
        color: $color-halloween-orange;
        background-color: #e8e4c9;
    }
    
    .letter {
        position: absolute;
        right: 15px;
        top: 350px;
        font-size: 7rem;
        font-family: 'Headhunter';
        width: 100px;
        height:100px;
        text-align: center;
        transform: rotate(-10deg);
            background: #b3b3b3;
    outline:none;
    border: none;
        color: #e8e4c9;
        border-radius: 8px;

        @media only screen and (max-width: $bp-large){
            top: 380px;
            font-size: 5rem;
        }
    
    }
    
    
    #letter:focus,
    #word:focus,
    .input-panel:focus,
    text:focus {
        outline: none;
        border:none;
    }
    #letterInput {
        position: absolute;
        left: 700px;
        top: 442px;
        font-size: 4rem;
        font-family: 'Creepster';
        width: 100px;
        height:35px;
        transform: rotate(-10deg);
            background: #b3b3b3;
    outline:none;
    border: none;
        color: #e8e4c9;
        z-index: 70;

        @media only screen and (max-width: $bp-large){
          left: 40%;
            top:545px;
            transform: rotate(0);
            border-radius: 8px 8px 8px 8px;
            font-size: 4rem;
            background: $color-slate;
            margin: 1rem;
            height: 40px;
        }
        @media only screen and (max-width: $bp-smallest){
          left: 32%;
            top:545px;
            transform: rotate(0);
            border-radius: 8px 8px 8px 8px;
            font-size: 4rem;
            background: $color-slate;
            margin: 1rem;
            height: 40px;
        }
        
    }
    
    
    .balloon {
        position: absolute;
        left: 140px;
        bottom: -600px;
        z-index: 50;
    }
    
    .riseUp {
        animation: riser 2s forwards;
    }
    
    @keyframes riser {
        0% {
           transform: translateY(-140px);
        }
    
      
        100% {
           transform: translateY(-750px);
        }
    
    }
    
    
    
    #spirit1 {
        position:absolute;
        bottom: -220px;
        left: 100px;
     
    }
    
    #spirit2 {
        position: absolute;
        bottom: -250px;
        left: 40px;
    }
    
    #spirit3 {
        position: absolute;
        bottom: -270px;
        left: 150px;
    }
    
    #spirit4 {
        position:absolute;
        bottom: -235px;
        left: 200px;
    }
    
    #spirit5 {
        position: absolute;
        bottom: -240px;
        left: 270px;
    }
    
    #spirit6 {
        position: absolute;
        bottom: -260px;
        left: 320px;

        @media only screen and (max-width: $bp-small){
            left: 80px;
        }
    }
    #spirit7 {
        position:absolute;
        bottom: -230px;
        left: 400px;

        @media only screen and (max-width: $bp-small){
            left: 130px;
        }
    }
    
    #spirit8 {
        position: absolute;
        bottom: -240px;
        left: 480px;

        @media only screen and (max-width: $bp-small){
            left: 275px;
        }
    }
    
    
    .spiritRise {
        animation: rise 2s forwards;
    }
    
    .spiritGrow {
        transform: scale(120);
    }
    
    .goodByeTomb{
        animation: vanish .2s forwards;
    }
    
    #tomb1 {
        position: absolute;
        left: 100px;
        bottom: 10px;
        transition: all 4s ease;
    }
    #tomb2 {
        position: absolute;
        left: 50px;
        bottom: 40px;
    }
    
    #tomb3 {
        position: absolute;
        left: 150px;
        bottom: 60px;
    }
    #tomb4 {
        position: absolute;
        left: 200px;
        bottom: 15px;
    }
    #tomb5 {
        position: absolute;
        left: 270px;
        bottom: 40px;
    }
    #tomb6 {
        position: absolute;
        left: 320px;
        bottom: 60px;
        @media only screen and (max-width: $bp-small){
            left: 80px;
        }
    }
    #tomb7 {
        position: absolute;
        left: 400px;
        bottom: 10px;

        @media only screen and (max-width: $bp-small){
            left: 13px;
        }
    }
    #tomb8 {
        position: absolute;
        left: 480px;
        bottom: 40px;

        @media only screen and (max-width: $bp-small){
            left: 300px;
        }
    }
    
    @keyframes rise {
        0% {
            transform: translateY(-100px)
            }
    
        100% {
            transform: translateY(-580px);
        }
    }
    
    .jiggle {
        animation: jiggle .2s infinite;
    }
        @keyframes jiggle {
            0% {
                transform: rotate(-1deg);
                }
            50% {
               transform: rotate(1deg);
            }
            100% {
                transform: rotate(0deg);
            }
        
        }
    
        @keyframes vanish {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }


